@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

body {
  height: 94vh;
  overflow: hidden;
  background: linear-gradient(72.44deg, #432093 0%, #90DAFD 100%);
  font-family: 'Space Grotesk';
  font-weight: 400;
  font-size: 1.2vw;
  color: white;
}

