.app__footer {
  position: absolute;
  bottom: 4%;
  left: 24%;
  height: 17vh;
  width: 54%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.footer__block-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 17vh;
  width: 52%;
}

.footer__info__heading {
  margin: 0;
  font-size: 2.2vw;
  line-height: 3.4vw;
}

.footer__icon {
  height: 3vh;
  width: 1.4vw;
}

.footer__info {
  margin: 0;
}

.footer__info__underline {
  margin: 0;
  font-size: 2.2vw;
}

.footer__info__underline::after {
  content: "";
  display: block;
  height: 0.1vh;
  background-color: #ffffff;
  margin-top: 1%;
}