.app__header {
    margin: auto;
    margin-top: 2.4%;
    width: 92%;
    height: 9.6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .header__image {
    height: 9.6vh;
    width: 9%;
  }
  
  .header__menu {
    padding: 0;
    list-style-type: none;
    width: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .header__icon {
    height: 3vh;
    width: 20%;
  }
  
  .header__icon-facebook {
    width: 14%;
  }