.app__main {
    position: relative;
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .main__heading {
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    margin: 0;
    font-size: 5.8vw;
    font-weight: 900;
    line-height: 10vw;
  }
  
  .main__heading__bold {
    color: black;
    position: absolute;
    z-index: -2;
  }
  
  .main__image-boot {
    position: absolute;
    z-index: -1;
    right: 32%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  .main__image {
    height: 60vh;
    width: 100%;
  }
  
  .main__image__shadow {
    width: 80%;
    height: 3vh;
    background: #111111;
    opacity: 0.4;
    filter: blur(20px);
  }
  
  .main__arrow {
    position: absolute;
    display: inline-block;
    height: 20vh;
    width: 10%;
    border-radius: 100%;
    border: 1px solid white;
    text-align: center;
    line-height: 20vh;
    font-size: 5vw;
    font-weight: 200;
  }
  
  .main__arrow:first-child {
    left: -3%;
  }
  
  .main__arrow:last-child {
    right: -3%;
  }